h1 {
    background: linear-gradient(90deg, rgba(62,235,64,1) 0%, rgba(55,35,209,1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 100px;
}
.test {
    display: flex;
}
h2 {
    background: linear-gradient(90deg, rgba(62,235,64,1) 0%, rgba(55,35,209,1) 100%);
    color: transparent;
    background-clip: text;
}